node_mode = 'readonly'

# The P2P syncing feature could improve the experience of an external Godwoken readonly node.
# An external Godwoken readonly node can receive layer-2 block sync messages from fullnode through
# the configured p2p_network.
#
# see also: https://github.com/godwokenrises/godwoken/blob/develop/docs/p2p_sync.md
[p2p_network_config]
# The domain name here should resolve to the IPv4 address of the full node.
# And obviously readonly nodes need to be able to reach the TCP 8999 port of the full node.
dial = ["/dns4/testnet.p2p.godwoken.io/tcp/8999"]

# To achieve higher sync speed, please run your own ckb-testnet-node
# see: https://docs.nervos.org/docs/basics/guides/run-ckb-with-docker#run-a-ckb-testnet-node
# Cmd `ckb run --indexer` could enable built-in indexer of a ckb node.
[rpc_client]
# Public Nodes (rate_limit: 20 req/s)
ckb_url = 'https://testnet.ckbapp.dev/rpc'

# If a CKB indexer RPC url is explicitly specified, we assume that we are
# connecting to a standalone indexer (i.e. we use get_tip).
# Otherwise we just use CKB RPC url and assume that we are connecting to CKB
# builtin indexer (i.e. we use get_indexer_tip).
# indexer_url = 'standalone ckb-indexer, optional'

[rpc_server]
listen = '0.0.0.0:8119'
enable_methods = []

# builtin consensus config
# see https://github.com/godwokenrises/godwoken/pull/946
[consensus]
# https://github.com/godwokenrises/godwoken/blob/develop/crates/config/src/consensus/builtins/testnet.toml
builtin = 'Testnet'

[debug]
output_l1_tx_cycles = true
expected_l1_tx_upper_bound_cycles = 350000000
debug_tx_dump_path = '/mnt/debug-tx-dump'
enable_debug_rpc = false

[block_producer]
check_mem_block_before_submit = false

[block_producer.block_producer]
address_type = "Eth"
address = '0x715ab282b873b79a7be8b0e8c13c4e8966a52040'

[block_producer.challenger_config.rewards_receiver_lock]
code_hash = '0x9bd7e06f3ecf4be0f2fcd2188b23f1b9fcc88e5d4b65a8637b17723bbda3cce8'
hash_type = 'type'
args = '0x699d2dd60134ddf8979df6005d9530929c8a72e1'

[mem_pool]
execute_l2tx_max_cycles = 500000000
restore_path = '/mnt/mem-pool/mem-block'
[mem_pool.mem_block]
max_deposits = 50
max_withdrawals = 50
# MAX_TPS * block_time = 40 * 8 = 320, rounded up to 400
max_txs = 400
# Introduce max_cycles_limit of a Godwoken block
# https://github.com/nervosnetwork/godwoken/pull/767
max_cycles_limit = '1950000000'

# [mem_pool.mem_block.syscall_cycles]
# Default SyscallCyclesConfig:
# https://github.com/godwokenrises/godwoken/blob/v1.7.0/crates/config/src/config.rs#L579-L599

[store]
# The data directory of the existing node is replaced
path = '/mnt/testnet-20230215.rocksdb'
options_file = '/deploy/db.toml'
cache_size = 536870912

[mem_pool.fee]
meta_cycles_limit = 20000
sudt_cycles_limit = 20000
eth_addr_reg_cycles_limit = 20000
withdraw_cycles_limit = 20000

[mem_pool.extra]
allowed_sudt_proxy_creator_account_id = []
sudt_proxy_code_hashes = []